p
{
    margin:0
}
#mandala
{
    position:relative;
    div p 
    {
        font-family: "Times New Roman", Times, serif; 
    }
}
#circulo
{
    position:relative;
    left: 10px;
    top: 26px;
    z-index:200 ;
    border:2px solid black;
    height:200px;
    width: 200px;
    border-radius: 50%;
    z-index: 100;  
} 