@mixin fonts($weight, $style, $family)
{
  font-weight:$weight;
  font-style:$style;  
  font-family:$family;
}
h1 
{
  @include fonts(initial, initial, $font-titulos);
}
h2 
{
  @include fonts(initial, initial, $font-titulos);
}
h4 
{
  @include fonts(initial, initial, $font-titulos);
}
h3
{
  @include fonts(bolder !important,italic !important ,$font-subtitulos);
}
h5
{
  @include fonts(bolder !important,italic !important,$font-subtitulos);
}
h6
{
  @include fonts(bold !important,normal !important, $font-parrafos);
}
a
{
    text-decoration:none; 
}
.font-merri
{
  font-family:$font-parrafos !important;
}
.texto-chico
{
  font-size:68% !important;
  @include fonts(bolder !important,normal !important, initial);
}
.texto-mediano
{
  font-size:90% !important;
  @include fonts(bold !important,normal !important, initial) ;
}
.texto-boton
{
  font-size:75% !important;
  @include fonts(bolder !important,normal !important, 'Gloock');
}
#titulo-principal
{
  margin-top:42px !important;
  margin-left:0px !important;
  margin-right:0px !important;
}