$color-hover:rgb(186, 234, 248);
$font-titulos:'Rye', cursive;
$font-subtitulos:'Merriweather', serif;
$font-parrafos: 'Merriweather';
$duracion:90s;
$mandala-duration:3s;
$color-fondo-de-explicacion:yellow;
$color-difuminado-flechas:rgb(208, 206, 206);
$color-difuminado:gray;
